<section>
    <link href="@Origin/Angara.Html.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
    <script>
        var content_@ViewerId = @Content;
        require.config({
            baseUrl: '@Origin',
            paths: {
                "Chart": "Chart",
                "tableViewer": "tableViewer",
                "jquery.dataTables": "DataTables/jquery.dataTables",
                "jquery.dataTables-css": "DataTables/jquery.dataTables",
                "chartViewer.umd": "chartViewer.umd",
                "chartViewer-css": "chartViewer",
                "idd": "idd",
                "idd-css": "idd",
                "domReady": "https://cdnjs.cloudflare.com/ajax/libs/require-domReady/2.0.1/domReady.min",
                "jquery": "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min",
                "jquery-ui": "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui",
                "css": "https://cdnjs.cloudflare.com/ajax/libs/require-css/0.1.8/css.min",
                "rx": "https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.lite.min"
            }
        });
        require(['./Angara.Show', './Angara.Serialization.umd', 'domReady!'], function (Angara, Marshalling, document) {
            var viewer = document.getElementById('container_@ViewerId');
            var content_is = Marshalling.InfoSet.Unmarshal(content_@ViewerId);
            var content = Marshalling.InfoSet.Deserialize(content_is);
            return Angara.Show(content, viewer);
        });
    </script>
    <div style="height:@Height" id="container_@ViewerId" class="viewer-container">
    </div>
</section>
