<section>
    <link href="@Origin/Angara.Html.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
    <script>
        var content_@ViewerId = @Content;
        require.config({
            baseUrl: "@Origin",
            paths: {
                "angara.serializationjs": "https://cdn.rawgit.com/predictionmachines/Angara.Serialization/v0.2.0/dist/Angara.Serialization.umd",
                "Chart": "https://cdn.rawgit.com/predictionmachines/Angara.Chart/0.2.2/dist/Chart",
                "Table": "https://cdn.rawgit.com/predictionmachines/Angara.Table/0.2.2/dist/Table",
                "angara.tablejs": "https://cdn.rawgit.com/predictionmachines/Angara.Table/0.2.2/dist/angara.tablejs",
                "jquery.dataTables": "https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.11/js/jquery.dataTables.min",
                "jquery.dataTables-css": "https://cdn.rawgit.com/predictionmachines/Angara.Table/0.2.2/dist/angara.tablejs",                
                "idd": "https://cdn.rawgit.com/predictionmachines/InteractiveDataDisplay/v1.4.0/dist/idd",
                "idd-css": "https://cdn.rawgit.com/predictionmachines/InteractiveDataDisplay/v1.4.0/dist/idd",
                "domReady": "https://cdnjs.cloudflare.com/ajax/libs/require-domReady/2.0.1/domReady.min",
                "jquery": "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min",
                "jquery-ui": "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui",
                "css": "https://cdnjs.cloudflare.com/ajax/libs/require-css/0.1.8/css.min",
                "rx": "https://cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.lite.min"
            }
        });
        require(['Angara.Show', 'angara.serializationjs', 'domReady!'], function (Angara, Marshalling, document) {
            var viewer = document.getElementById('container_@ViewerId');
            var content_is = Marshalling.InfoSet.Unmarshal(content_@ViewerId);
            var content = Marshalling.InfoSet.Deserialize(content_is);
            return Angara.Show(content, viewer);
        });
    </script>
    <div style="height:@Height" id="container_@ViewerId" class="viewer-container">
    </div>
</section>
