source https://nuget.org/api/v2
nuget Angara.Serialization ~> 0.2.1
nuget Angara.Serialization.Json ~> 0.2.1
nuget Angara.Statistics ~> 0.1
nuget Angara.Table ~> 0.2.2
nuget Angara.Chart ~> 0.2.2
nuget System.Collections.Immutable 1.1.36
nuget DotNetZip ~> 1.10.1
nuget Newtonsoft.Json ~> 9.0
nuget Suave ~> 1.1.2

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget FsCheck ~> 2.3
  nuget FsCheck.NUnit ~> 2.3
  nuget FsUnit ~> 1.4.1
  nuget Unquote ~> 3.1.1
