<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angara.Chart" version="0.1.1.0" targetFramework="net461" />
  <package id="Angara.Serialization" version="0.1.2.0" targetFramework="net461" />
  <package id="Angara.Statistics" version="0.1.2.0" targetFramework="net461" />
  <package id="Angara.Table" version="0.1.1.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net461" />
</packages>