<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angara.Serialization" version="0.1.2.0" targetFramework="net461" />
  <package id="Angara.Serialization.Json" version="0.1.2.0" targetFramework="net461" />
  <package id="FsCheck" version="2.2.4" targetFramework="net461" />
  <package id="FsCheck.NUnit" version="2.2.4" targetFramework="net461" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="NUnit.Runners" version="2.6.4" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="Unquote" version="3.1.1" targetFramework="net461" />
</packages>